<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/static/styles/main.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>Signup</title>
    </head>
    <body>
    <div class="my_container">
        <div class="center"><h1>My Cine View</h1></div>
        <div class="my_panel">
            <div class="center"><h3> Login </h3></div>
            <div class="input_form">
                <div class="mb-3">
                    <label for="user_name" class="form-label">User Name(E-Mail)</label>
                    <input type="email" class="form-control" id="user_name" placeholder="iitm@study.ac.in">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="passowrd" class="form-control" id="password" placeholder="password">
                </div>
                <div class="mb-3">
                    <label for="full_name" class="form-label">Full Name</label>
                    <input type="text" class="form-control" id="full_name" placeholder="Ex. Ritik Gupta">
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Address</label>
                    <input type="text" class="form-control" id="location" placeholder="ex. Madras">
                </div>
                <div class="mb-3">
                    <label for="pincode" class="form-label">Address</label>
                    <input type="text" class="form-control" id="pincode" placeholder="206122">
                </div>

                <div class="mb-3">
                    <button type="button" text-align="center" class="btn btn-primary">Submit</button>
                    Existing User ?<a href ="/templates/login.html">Login</a>
                </div>


            </div>
        </div>
    </div>   
</body>
</html>