

.err_msg{
    text-align: center;
    margin: auto;
    color:rgb(180, 0, 39);
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 25px rgba(0, 255, 255, 0.2);
  transition: all 0.3s ease-in-out;
}
.table-hover tbody tr:hover {
  background-color: rgba(0, 255, 255, 0.05);
}
.btn:hover {
  transform: scale(1.05);
}

input:focus {
  outline: none !important;
  box-shadow: 0 0 8px rgba(0, 255, 255, 0.4);
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  transform: scale(1.05);
  transition: 0.3s ease;
}
